/**************Google Font *****************/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

/************* Global Styles ***************/

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Verdana, Tahoma, sans-serif;
}

*{
  box-sizing: border-box;
}

.clearFix {
  content: "";
  clear: both;
  display: table;
}

img {
  max-width: 100%;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.flex-container {
  display: flex;
}

.flex-item {
  width: 50%;
  padding-left: 60px;
}

h1 {
  text-align: center;
}

/************** Header Styles *******************************/
header {
  position: relative;
  top: -18px;
  width: 100%;
  height: 100px;
  background-color: blue;
  font-weight: 500;
}

.logo {
  width: 65px;
  height: 65px;
  margin-top: 40px;
}

.logo img {
  border-radius: 50%;
}

.nav-bar {
  float: right;
}

.nav-bar ul {
  margin-top: 40px;
}

.nav-bar li {
  display: inline;
  padding-right: 30px;
  font-size: 20px; 
}

.nav-bar a {
  text-decoration: none;
  color: white;
}

.nav-bar a:hover {
  color: orangered;
  cursor: pointer;
}


/************* Styles for the Table nd its Contents *********/
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  height: 40px;
  width: 200px;
  font-size: 20px;
  font-family: 700;
  text-align: center;
}

th {
  height: 60px;
}

table {
  padding-left: 60px;
}

caption {
  font-size: 32px;
}

.buttons {
  margin-top: 50px;
}

.buttons button {
  padding: 10px 30px;
  background: blue;
  color: #ffffff;
}